body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

#footer-container{width:100%;}
#left{float:left;width:200px;}
#right{float:right;width:200px;}

.submit-button{
  border-radius: 20px;
  background-color: #255962;
  color: white;
  border-color: #255962;
}

.submit-button:hover {
  background-color: #4493a1;
  border-color: #4493a1;
  color: white;
}
